<h1>mako-design</h1>

<% if user_signed_in? %>
  <div class="user_nav grid-6">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <%= link_to "投稿する", new_post_path, class: "post" %>
  </div>
  <div><%= current_user.name%>がログイン中です。</div>
<% else %>
  <div class="grid-6">
    <%= link_to "ログイン", new_user_session_path, class: "post" %>
    <%= link_to "新規登録", new_user_registration_path, class: "post" %>
  </div>
<% end %>

<div>この下に投稿したテキストが表示されます。</div>

<div class="">
  <% @posts.each do |p| %>
    <div class="">
      <%= p.text %>
    </div>
  <% end %>
</div>

<ul>HTMLを修正する際、
  <li>TOP画面はapp/views/posts/index.html.erb</li>
  <li>投稿画面はapp/views/posts/new.html.erb</li>
  <li>(ユーザーの)新規登録画面はapp/views/devise/registrations/new.html.erb</li>
  <li>ログイン画面はapp/views/devise/sessions/new.html.erb</li>
  <li>CSSはapp/assets/stylesheets/index.css</li>
</ul>

<ul>ログインアカウントは
  <li>name:mako</li>
  <li>email:b@b</li>
  <li>PW:111111aaaaaa</li>
</ul>

<ul>githubの流れ
  <li>ブランチを作成する。例）「〇〇機能の実装」「〜〜部分のCSS調整」</li>
  <li>コーディングする。</li>
  <li>commitする。</li>
  <li>Publish branchする。</li>
  <li>Create Pull Requestする。</li>
  <li>ブラウザ版GithubにてCreate Pull Request、Merge Pull Request、Confirm Merge、Delete branchする。（実際にはコードレビューなどが入る）</li>
  <li>Github Desktopにてブランチをmasterに変える。</li>
  <li>Fetch originする。</li>
  <li>Pull originする。</li>
</ul>
